header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.logo img {
    height: 80px;
    width: auto;
}

.subpaginas {
    display: flex;
    align-items: center;
    gap: 20px;
}

.subpaginas a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #301b00;
    font-weight: bold;
    font-size: 14px;
    padding: 10px 15px;
}

.subpaginas a:hover {
    background-color: #e08e23;
    color: white;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    border-radius: 10px;
}

.tabla1{
    width: 80%;
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    background-color: #914f0456;
}

.tabla2{
    width: 80%;
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url(https://cdn.pixabay.com/video/2019/07/27/25552-351374170_tiny.jpg);
}

.promocion1{
    width: 80%;
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    background-image: url(https://img.freepik.com/vector-gratis/estilo-polka-minimo-amor-corazon-patron-papel-tapiz-dia-san-valentin_1017-49794.jpg?semt=ais_incoming&w=740&q=80);
}

.promocion2{
    width: 80%;
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url(https://wallpapers.com/images/featured/fondods-de-playa-de-alta-resolucion-vobtozbt8wwy6npx.jpg);
    background-position: center;
}

.promocion3{
    width: 80%;
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url(https://wallpapers.com/images/featured/fondos-de-fuego-f3799qjy7eob7otr.jpg);
    background-position: center;

}

table td[rowspan="4"] {
    width: 160px;
    text-align: center;
    padding: 10px;
}

.subtitulos{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: #301b00;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 10%;
    padding-left: 15px;
    margin-top: 40px;
}

.enviar{
    background-color: #e67e22; 
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    border-radius: 50px; 
    display: block;
    margin: 30px auto;
}